{%- liquid
  assign animations_enabled = settings.animations_enabled
  assign animation_delay = 200
  assign animation_anchor = '#b2b-drawer--' | append: section.id
-%}

{% style %}
    .b2b-cart-drawer__message, .b2b-cart-drawer__progress {
        padding: 0 var(--inner) 0;
        margin: 0;
    }

{% endstyle %}

<div id="variant-picker-modal" class="variant-picker-modal" data-variant-picker-modal >
    <div
        class="variant-picker__head"
        {% if animations_enabled %}
            data-aos="fade-up"
            data-aos-delay="{{ animation_delay }}"
            {%- assign animation_delay = animation_delay | plus: 100 -%}
        {% endif %}
    >
        <h3>Select Varaints</h3>
        <a
            href="#variant-picker-modal"
            class="variant-picker-modal__close"
            data-b2b-cart-drawer-toggle
            aria-label="{{ 'general.accessibility.close_drawer' | t }} Select Variants">
            {%- render 'icon-close-small' -%}
        </a>
    </div>
    <hr class="hr--full"
        {% if animations_enabled %}
            data-aos="fade-up"
            data-aos-anchor="{{ animation_anchor }}"
            data-aos-delay="{{ animation_delay }}"
            {%- assign animation_delay = animation_delay | plus: 150 -%}
        {% endif %}
    >
    <div class="variant-picker-modal__body" data-variant-picker-modal-body>
        <p class="b2b-cart-drawer__message">Add 16 more pieces to get 20% off.</p>
        <p class="b2b-cart-drawer__progress"
            data-limit="{{ limit }}"
            data-cart-total-price="{{ cart_total_price }}"
            {% if animations_enabled %}
                data-aos="fade-up"
                data-aos-delay="{{ animation_delay }}"
                {%- assign animation_delay = animation_delay | plus: 100 -%}
            {% endif %}>
            <progress class="cart__message__progress" data-b2b-drawer-progress value="40" max="100"></progress>
        </p>
        <div class="variant-picker-modal__content" data-variant-picker-modal-content>
        </div>
    </div>
</div>
