<div
    class="product__submit__holder"
    data-product-id="{{ product.id }}"
>
    <div class="product__submit__buttons product__submit__buttons-primary">
        <div
            class="product__submit__item"
            {% if animations_enabled %}
                data-aos="fade-up"
                data-aos-anchor="{{ animation_anchor }}"
                data-aos-delay="{{ animation_delay }}"
                {%- assign animation_delay = animation_delay | plus: 150 -%}
            {% endif %}
        >
            <button
                type="submit"
                name="add"
                id="AddToCart--{{ unique }}"
                class="btn btn--submit product__submit__add"
                data-choose-option
                data-focus-element
                data-upsell-available="{% if product.metafields.theme.upsell_list.value != blank %}true{% endif %}"
                data-product-url="{{product.url}}"
            >
                <span
                    data-add-to-cart-text
                    class="b2b-button-option"
                >
                    Choose option
                </span>
                <div class="loader loader--line">
                    <div class="loader-indeterminate"></div>
                </div>
            </button>
            <p class="b2b-minimum-order-title">
                *Minimum order 6 Pieces, Maximum up to 200 Pieces
            </p>
        </div>
    </div>
</div>
