{% liquid
    assign current_variant = product.selected_or_first_available_variant
    assign featured_media = current_variant.featured_media | default: product.featured_media
    assign image_url_pattern = featured_media | img_url: '1x1' | replace: '_1x1.', '_{width}x.'
    assign image_widths = "[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048, 2450, 2700, 3000, 3350, 3750, 4100]"
    assign media_aspect_ratio = featured_media.aspect_ratio
    unless media_aspect_ratio
        assign media_aspect_ratio = 1
    endunless
    assign image_zoom_size = '2048x2048'
%}

<div class="variant-picker-modal__body" data-variant-picker-modal-body data-api-b2b-drawer-section>
    <script type="application/json" class="product-json" id="ProductJson-{{ product.handle }}-{{product.id}}" data-product-json>{{ product | json }}</script>
    <div class="variant-picker-modal__content" data-variant-picker-modal-content>
        <div class="b2b-product-info-block">
            <div class="b2b-product-image-wrapper">
                <img class="lazyload b2b-product-image"
                    src="{{ 'blank.gif' | asset_img_url: '1x1' }}"
                    data-src="{{ image_url_pattern }}"
                    data-image-id="{{ featured_media.id }}"
                    data-widths= "{{ image_widths }}"
                    data-aspectratio="{{ media_aspect_ratio }}"
                    data-sizes="auto"
                    data-object-fit="contain"
                    alt="{{ featured_media.alt | strip_html | escape }}">
                <noscript>
                    <img src="{{ featured_media | img_url: image_zoom_size }}" alt="{{ featured_media.alt | strip_html | escape }}" id="{{ featured_media.id }}">
                </noscript>
            </div>
            <div class="b2b-cart-product-info">
                <div>
                    <h4 class="b2b-cart-item-title">{{- product.title | strip_html -}}</h4>
                    <span
                        data-product-price
                        class="product__price--regular">
                        {%- liquid
                            if current_variant.price == 0
                                echo 'products.product.free' | t
                            elsif currency_code_enable
                                echo current_variant.price | money_with_currency
                            else
                                echo current_variant.price | money
                            endif
                        -%}
                    </span>
                </div>
            </div>
        </div>
        <div class="b2b-choose-options-block">
            {%- for option in product.options_with_values -%}
                {%- liquid
                    assign option_name_handle_separator = option.name | handle | prepend: ',' | append: ','
                    assign is_swatch_option = false
                    assign swatch_translation = 'general.swatches.color' | t
                    assign translation_string = swatch_translation | remove: '  ' | replace: ', ', ',' | replace: ' ,', ',' | replace: ',', '____' | handle | replace: '____', ',' | append: ',' | prepend: ','

                    if translation_string contains option_name_handle_separator
                        assign is_swatch_option = true
                    endif
                -%}

                {%- unless is_swatch_option -%}
                    <div class="selector-wrapper selector-wrapper--boxes" data-option-position="{{ option.position }}">
                        <fieldset class="radio__fieldset radio__fieldset--{{ settings.color_swatches_product_style }}">
                            <legend class="radio__legend">
                                <span class="radio__legend__label" data-option-parent-{{ option.name | downcase }}="{{ option.name | downcase }}">
                                    Choose your {{ option.name | escape_once }}s
                                </span>
                            </legend>
                            {%- for value in option.values -%}
                                {%- capture input_id -%}b2b-{{ product.id }}-{{ option.name | escape_once | handle }}-{{ value | escape_once | handle }}{%- endcapture -%}
                                <span class="radio__button">
                                    <input
                                        type="checkbox"
                                        class="radio__input"
                                        value="{{ value | escape_once }}"
                                        id="{{ input_id }}"
                                        name="{{ option.name | escape_once }}"
                                        data-b2b-option="{{ option.position }}"
                                    >
                                    <label for="{{ input_id }}" class="radio__label">
                                        <span>{{ value }}</span>
                                        <span class="icon-wrapper">
                                            {%- render 'icon-check-white' -%}
                                        </span>
                                    </label>
                                </span>
                            {%- endfor -%}
                        </fieldset>
                    </div>
                {%- else -%}
                    <div class="selector-wrapper selector-wrapper--boxes" data-option-position="{{ option.position }}">
                        <fieldset class="radio__fieldset radio__fieldset--circle">
                            <legend class="radio__legend">
                                <span class="radio__legend__label" data-option-parent-{{ option.name | downcase }}="{{ option.name | downcase }}">
                                    Choose your {{ option.name | escape_once }}s
                                </span>
                            </legend>
                            {%- for value in option.values -%}
                                {%- capture input_id -%}b2b-{{ product.id }}-{{ option.name | escape_once | handle }}-{{ value | escape_once | handle }}{%- endcapture -%}
                                <span
                                    class="swatch__button swatch__button--{{ settings.color_swatches_product_style }}"
                                    data-tooltip="{{ value | escape_once | capitalize }}"
                                >
                                    <input
                                        type="checkbox"
                                        class="swatch__input"
                                        name="{{ option.name | escape_once }}"
                                        value="{{ value | escape_once }}"
                                        id="{{ input_id }}"
                                        data-b2b-swatch
                                        data-b2b-option="{{ option.position }}"
                                    >
                                    <label
                                        for="{{ input_id }}"
                                        class="swatch__label"
                                        data-swatch="{{ value | escape_once }}"
                                        data-tooltip="{{ value | escape_once }}"
                                    >
                                        <span class="visually-hidden">{{ value | escape_once }}</span>
                                        <span class="icon-wrapper">
                                            {%- render 'icon-check-white' -%}
                                        </span>
                                    </label>
                                </span>
                            {%- endfor -%}
                        </fieldset>
                    </div>
                {%- endunless -%}
            {%- endfor -%}
        </div>
        <div class="b2b-variant-selector">
            <div class="b2b-variant-selector-header">
                <div>Variants</div>
                <div>quantity</div>
                <div>Total Price</div>
            </div>
            <div class="b2b-variant-selector-inner">
              <div class="b2b-variant-selector-content">
                <div class="b2b-variant-image-wrapper">
                  <img class="b2b-product-image lazyautosizes ls-is-cached lazyloaded" 
                    src="{{ 'blank.gif' | asset_img_url: '1x1' }}"
                    data-image-id="23146309255231" 
                    data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048, 2450, 2700, 3000, 3350, 3750, 4100]" 
                    data-aspectratio="0.6666666666666666" 
                    data-sizes="auto" data-object-fit="contain" 
                    alt="Simple Black Mesh Bodysuit" 
                    data-srcset="//cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_180x.jpg?v=1677782628 180w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_360x.jpg?v=1677782628 360w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_540x.jpg?v=1677782628 540w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_720x.jpg?v=1677782628 720w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_900x.jpg?v=1677782628 900w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_1080x.jpg?v=1677782628 1080w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_1296x.jpg?v=1677782628 1296w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_1512x.jpg?v=1677782628 1512w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_1728x.jpg?v=1677782628 1728w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_2048x.jpg?v=1677782628 2048w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_2450x.jpg?v=1677782628 2450w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_2700x.jpg?v=1677782628 2700w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_3000x.jpg?v=1677782628 3000w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_3350x.jpg?v=1677782628 3350w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_3750x.jpg?v=1677782628 3750w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_4100x.jpg?v=1677782628 4100w" sizes="100px" srcset="//cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_180x.jpg?v=1677782628 180w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_360x.jpg?v=1677782628 360w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_540x.jpg?v=1677782628 540w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_720x.jpg?v=1677782628 720w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_900x.jpg?v=1677782628 900w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_1080x.jpg?v=1677782628 1080w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_1296x.jpg?v=1677782628 1296w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_1512x.jpg?v=1677782628 1512w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_1728x.jpg?v=1677782628 1728w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_2048x.jpg?v=1677782628 2048w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_2450x.jpg?v=1677782628 2450w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_2700x.jpg?v=1677782628 2700w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_3000x.jpg?v=1677782628 3000w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_3350x.jpg?v=1677782628 3350w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_3750x.jpg?v=1677782628 3750w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_4100x.jpg?v=1677782628 4100w">
                  <noscript>
                      <img src="//cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_2048x2048.jpg?v=1677782628" alt="Simple Black Mesh Bodysuit" id="23146309255231">
                  </noscript>
                </div>    
                <div class="b2b-variant-content-info-wrapper">
                  <p class="b2b-varaint-content-title">£10.00 USD <span> Per Piece </span></p>
                  <p class="b2b-varaint-content-color">Color: Peach</p> 
                </div>    
              </div>    
              <div class="b2b-cart__item__quantity">
                <div class="cart__item__quantity" data-quantity-holder="">
                  <button type="button" class="cart__item__quantity-minus" data-quantity-minus="" data-quantity-button="" title="Decrease Quantity - White Leather Western Ariat Boots">
                    <span class="visually-hidden">Decrease Quantity</span><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-toggle-minus" viewBox="0 0 19 20"><path d="M10.725 11.02h6.671c.566 0 1.03-.506 1.03-1.072 0-.565-.464-1.07-1.03-1.07H1.953c-.566 0-1.029.505-1.029 1.07 0 .566.463 1.072 1.029 1.072h8.772z"></path></svg></button><input type="number" name="updates[]" id="updates_39985465393215:05019e9cfb9ce08476e69210d816dcde" class="cart__item__quantity-field" data-quantity-field="" data-id="39985465393215:05019e9cfb9ce08476e69210d816dcde" value="1" title="Quantity - White Leather Western Ariat Boots" pattern="[0-9]*">      
                  <button type="button" class="cart__item__quantity-plus" data-quantity-plus="" data-quantity-button="" title="Increase Quantity - White Leather Western Ariat Boots">
                    <span class="visually-hidden">Increase Quantity</span><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-toggle-plus" viewBox="0 0 19 20"><path d="M10.725 11.02h6.671c.566 0 1.03-.506 1.03-1.072 0-.565-.464-1.07-1.03-1.07h-6.67V2.27c0-.565-.506-1.029-1.072-1.029-.566 0-1.071.464-1.071 1.03v6.605h-6.63c-.566 0-1.029.506-1.029 1.071 0 .566.463 1.072 1.029 1.072h6.63v6.695c0 .566.505 1.03 1.07 1.03.566 0 1.072-.464 1.072-1.03V11.02z"></path></svg></button>
                </div>
              </div>              
              <div class="b2b-variant-price-selector">
                <p>$0<p>
              </div>
            </div>    
            </div>
 
            <div class="b2b-variant-selector-inner">
              <div class="b2b-variant-selector-content">
                <div class="b2b-variant-image-wrapper">
                  <img class="b2b-product-image lazyautosizes ls-is-cached lazyloaded" 
                    src="{{ 'blank.gif' | asset_img_url: '1x1' }}"
                    data-image-id="23146309255231" 
                    data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048, 2450, 2700, 3000, 3350, 3750, 4100]" 
                    data-aspectratio="0.6666666666666666" 
                    data-sizes="auto" data-object-fit="contain" 
                    alt="Simple Black Mesh Bodysuit" 
                    data-srcset="//cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_180x.jpg?v=1677782628 180w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_360x.jpg?v=1677782628 360w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_540x.jpg?v=1677782628 540w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_720x.jpg?v=1677782628 720w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_900x.jpg?v=1677782628 900w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_1080x.jpg?v=1677782628 1080w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_1296x.jpg?v=1677782628 1296w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_1512x.jpg?v=1677782628 1512w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_1728x.jpg?v=1677782628 1728w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_2048x.jpg?v=1677782628 2048w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_2450x.jpg?v=1677782628 2450w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_2700x.jpg?v=1677782628 2700w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_3000x.jpg?v=1677782628 3000w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_3350x.jpg?v=1677782628 3350w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_3750x.jpg?v=1677782628 3750w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_4100x.jpg?v=1677782628 4100w" sizes="100px" srcset="//cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_180x.jpg?v=1677782628 180w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_360x.jpg?v=1677782628 360w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_540x.jpg?v=1677782628 540w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_720x.jpg?v=1677782628 720w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_900x.jpg?v=1677782628 900w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_1080x.jpg?v=1677782628 1080w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_1296x.jpg?v=1677782628 1296w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_1512x.jpg?v=1677782628 1512w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_1728x.jpg?v=1677782628 1728w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_2048x.jpg?v=1677782628 2048w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_2450x.jpg?v=1677782628 2450w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_2700x.jpg?v=1677782628 2700w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_3000x.jpg?v=1677782628 3000w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_3350x.jpg?v=1677782628 3350w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_3750x.jpg?v=1677782628 3750w, //cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_4100x.jpg?v=1677782628 4100w">
                  <noscript>
                      <img src="//cdn.shopify.com/s/files/1/0078/2178/7200/products/5J6A2081_5de9ce7d-20f6-4d29-b73f-f3249eca6131_2048x2048.jpg?v=1677782628" alt="Simple Black Mesh Bodysuit" id="23146309255231">
                  </noscript>
                </div>    
                <div class="b2b-variant-content-info-wrapper">
                  <p class="b2b-varaint-content-title">£10.00 USD <span> Per Piece </span></p>
                  <p class="b2b-varaint-content-color">Color: Peach</p> 
                </div>    
              </div>    
              <div class="b2b-cart__item__quantity">
                <div class="cart__item__quantity" data-quantity-holder="">
                  <button type="button" class="cart__item__quantity-minus" data-quantity-minus="" data-quantity-button="" title="Decrease Quantity - White Leather Western Ariat Boots">
                    <span class="visually-hidden">Decrease Quantity</span><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-toggle-minus" viewBox="0 0 19 20"><path d="M10.725 11.02h6.671c.566 0 1.03-.506 1.03-1.072 0-.565-.464-1.07-1.03-1.07H1.953c-.566 0-1.029.505-1.029 1.07 0 .566.463 1.072 1.029 1.072h8.772z"></path></svg></button><input type="number" name="updates[]" id="updates_39985465393215:05019e9cfb9ce08476e69210d816dcde" class="cart__item__quantity-field" data-quantity-field="" data-id="39985465393215:05019e9cfb9ce08476e69210d816dcde" value="1" title="Quantity - White Leather Western Ariat Boots" pattern="[0-9]*">      
                  <button type="button" class="cart__item__quantity-plus" data-quantity-plus="" data-quantity-button="" title="Increase Quantity - White Leather Western Ariat Boots">
                    <span class="visually-hidden">Increase Quantity</span><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-toggle-plus" viewBox="0 0 19 20"><path d="M10.725 11.02h6.671c.566 0 1.03-.506 1.03-1.072 0-.565-.464-1.07-1.03-1.07h-6.67V2.27c0-.565-.506-1.029-1.072-1.029-.566 0-1.071.464-1.071 1.03v6.605h-6.63c-.566 0-1.029.506-1.029 1.071 0 .566.463 1.072 1.029 1.072h6.63v6.695c0 .566.505 1.03 1.07 1.03.566 0 1.072-.464 1.072-1.03V11.02z"></path></svg></button>
                </div>
              </div>              
              <div class="b2b-variant-price-selector">
                <p>$0<p>
              </div>
            </div> 

        </div>

    </div>
</div>


