{%- liquid
    assign section_width = section.settings.width
-%}

{% style %}
    #offer-image-{{ section.id }} .offer_banner_inner.desktop-image{
        padding-top: {{ section.settings.set_image_height }}%;
    }
    #offer-image-{{ section.id }} .offer_banner_inner.desktop-image img{
        object-fit: {{ section.settings.fit_image_desktop }};
    }
    #offer-image-{{ section.id }} .offer_banner_inner.mobile-image{
        padding-top: {{ section.settings.set_mobile_image_height }}%;
    }
    #offer-image-{{ section.id }} .offer_banner_inner.mobile-image img{
        object-fit: {{ section.settings.fit_image_mobile }};
    }
    #offer-image-{{ section.id }}{
        --PT: {{ section.settings.padding_top }}px;
        --PB: {{ section.settings.padding_bottom }}px;
    }
{% endstyle %}

<div class="offer_image_banner section-padding" id="offer-image-{{ section.id }}">
    {% if section.settings.image_url != blank %}<a href="{{ section.settings.image_url }}">{% endif %}
        <div class="{{ section_width }}">
            <div class="offer_banner_wrapper">
                {% if section.settings.image != blank %}
                    <div class="offer_banner_inner desktop-image">
                        <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.image.alt | escape }}">
                    </div>
                {% endif %}
                {% if section.settings.mobile_image != blank %}
                    <div class="offer_banner_inner mobile-image">
                        <img src="{{ section.settings.mobile_image | img_url: 'master' }}" alt="{{ section.settings.image.alt | escape }}">
                    </div>
                {% endif %}
            </div>
        </div>
    {% if section.settings.image_url != blank %}</a>{% endif %}
</div>



{% schema %}
    {
    "name": "Offer images",
    "class": "shopify-offer-banner",
    "settings": [
        {
            "type": "header",
            "content": "Layout"
        },
        {
            "type": "select",
            "id": "width",
            "label": "Width",
            "default": "wrapper--narrow",
            "options": [
                { "value": "wrapper--full-padded", "label": "Full width padded" },
                { "value": "wrapper", "label": "Page width" },
                { "value": "wrapper--narrow", "label": "Page width narrow" }
            ]
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Choose Desktop Image"
        },
        {
            "type": "url",
            "id": "image_url",
            "label": "Link here"
        },
        {
            "type": "range",
            "id": "set_image_height",
            "label": "Set image height",
            "info": "Set image height",
            "min": 10,
            "max": 95,
            "step": 1,
            "unit": "%",
            "default": 24
        },
        {
            "type": "select",
            "id": "fit_image_desktop",
            "label": "Choose image fit to div",
            "default": "contain",
            "options": [
                {
                    "value": "contain",
                    "label": "contain"
                },
                {
                    "value": "cover",
                    "label": "cover"
                }
            ]
        },
        {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Choose Mobile Image"
        },
        {
            "type": "range",
            "id": "set_mobile_image_height",
            "label": "Set Mobile image height",
            "info": "Set Mobile image height",
            "min": 50,
            "max": 140,
            "step": 1,
            "unit": "%",
            "default": 100
        },
        {
            "type": "select",
            "id": "fit_image_mobile",
            "label": "Choose image fit to div",
            "default": "contain",
            "options": [
                {
                    "value": "contain",
                    "label": "contain"
                },
                {
                    "value": "cover",
                    "label": "cover"
                }
            ]
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 60
        }, 
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 60
        }
    ],    
    "presets": [
      {
        "name": "Offer images",
        "category": "Offer Image"        
      }
    ]
  }
  {% endschema %}
  