<div class="sitemap-container">
    <div class="wrapper">
        <div class="sitemap-parent">
            {% comment %}
            <div class="sitemap-heading">
                <div class="product__block product__title-and-price aos-init aos-animate" data-aos="fade-up" data-aos-anchor="#FeaturedProduct--template--14490297991231__main" data-aos-delay="450">
                    <h1 class="sitemap-heading-content">
                        Sitemap
                    </h1>
                </div>
            </div>
            {% endcomment %}
            {% if section.settings.req_collections_checkbox %}
                <div class="section-sitemap">
                    <div class="product__block product__title-and-price aos-init aos-animate" data-aos="fade-up" data-aos-anchor="#FeaturedProduct--template--14490297991231__main" data-aos-delay="450">
                        <h1 class="collections-sitemap-title">
                            Collections
                        </h1>
                    </div>
                    {% paginate collections by section.settings.no_of_collections %}
                        {% for c in collections %}
                            <p class="collection-sitemap-data">
                                <a href="{{ c.url }}">{{ c.title }}</a>
                            </p>
                        {% endfor %}
                    {% endpaginate %}
                </div>
            {% endif %}

            {% if section.settings.req_products_checkbox %}
                <div class="section-sitemap">
                    <div class="product__block product__title-and-price aos-init aos-animate" data-aos="fade-up" data-aos-anchor="#FeaturedProduct--template--14490297991231__main" data-aos-delay="450">
                        <h1 class="products-sitemap-title">
                            Products
                        </h1>
                    </div>
                    {% paginate collections.all.products by section.settings.no_of_products %}
                        {% for product in collections.all.products %}
                            <p class="product-sitemap-data">
                                <a href="{{ product.url }}">{{ product.title }}</a>
                            </p>
                            {% endfor %}
                    {% endpaginate %}
                </div>
            {% endif %}

            {% if section.settings.req_pages_checkbox %}
                <div class="section-sitemap">
                    <div class="product__block product__title-and-price aos-init aos-animate" data-aos="fade-up" data-aos-anchor="#FeaturedProduct--template--14490297991231__main" data-aos-delay="450">
                        <h1 class="products-sitemap-title">
                            Pages
                        </h1>
                    </div>
                    {% paginate pages %}
                        {% for p in pages %}
                            <p class="pages-sitemap-data">
                                <a href="{{ p.url }}">{{ p.title }}</a>
                            </p>
                            {% endfor %}
                    {% endpaginate %}
                </div>
            {% endif %}

            {% if section.settings.req_blogs_checkbox %}
                <div class="section-sitemap">
                    <div class="product__block product__title-and-price aos-init aos-animate" data-aos="fade-up" data-aos-anchor="#FeaturedProduct--template--14490297991231__main" data-aos-delay="450">
                        <h1 class="products-sitemap-title">
                            Blogs
                        </h1>
                    </div>
                    {% paginate pages %}
                        {% for article in blogs.news.articles  %}
                            <p class="pages-sitemap-data">
                                {{ article.title | link_to: article.url }}
                            </p>
                        {% endfor %}
                    {% endpaginate %}
                </div>
            {% endif %}

        </div>
    </div>
</div>
{% schema %}
{
  "name": "Sitemap",
  "settings": [
        {
            "type":"header",
            "content": "Number of Links in Sections"
        },
        {
            "type": "text",
            "id": "no_of_collections",
            "label": "Enter Number of Collections to be shown",
            "default": "100"
        },
        {
            "type": "text",
            "id": "no_of_products",
            "label": "Enter Number of Products to be shown",
            "default": "500"
        },
        {
            "type": "header",
            "content": "Select Sections to show"
        },
        {
            "type": "checkbox",
            "id": "req_collections_checkbox",
            "label":"Show All Collections",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "req_products_checkbox",
            "label":"Show All Products",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "req_pages_checkbox",
            "label":"Show All Pages",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "req_blogs_checkbox",
            "label":"Show All Blogs",
            "default": true
        }
    ],
    "presets": [
        {
        "name": "Sitemap",
        "category": "Hero"
        }
    ]
}
{% endschema %}